.formPage {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.pageForm {
    max-width: 500px;
    width: 80vw;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formElement {
    display: flex;
    flex-direction: column;
}

.formElement label {
    font-size: 1rem;
}

.formElement input,
.formElement textarea {
    padding: 10px;
    font-size: 0.8rem;
}

.formElement input[type="text"],
.formElement input[type="password"],
.formElement textarea {
    border: 2px solid #eee;
    border-radius: 10px;
}

.formElement textarea {
    min-width: 100%;
    max-width: 100%;
}

.pageForm .formElement textarea {
    min-height: 400px;
    max-height: 1200px;
}

.pageForm .formElement .submitBtn {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    max-width: 150px;
    width: 100%;

    border-radius: 5px;
    border: 2px solid #5e5e5e;

    align-self: center;
    cursor: pointer;
}

.pageForm .formElement .submitBtn:hover {
    background-color: #5e5e5e;
    color: white;
}

.formLink {
    color: black;
}

@media (min-width: 600px) {
    .formElement label {
        font-size: 1.2rem;
    }

    .formElement input,
    .formElement textarea {
        font-size: 1rem;
    }

    .pageForm .formElement .submitBtn {
        font-size: 1.1rem;
        max-width: 200px;
    }
}
