.homeMain,
.homeSupp {
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.topPostsOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postsOuterContainer {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postCardOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hl {
    height: 1px;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

@media (min-width: 600px) {
    .topPostsOuterContainer {
        padding: 40px;
    }

    .homeMain {
        padding: 40px;
    }
}
