.homeMain {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.postsContainer {
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
