.postPage {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.postMain {
    max-width: 600px;
    min-width: 400px;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.postContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.postContainer .title {
    width: 100%;
    align-self: start;
    font-size: 3rem;
    font-weight: 600;

    word-wrap: normal;
}

.postDetails {
    align-self: start;
}

.postDetails .author {
    text-decoration: none;
    color: black;
}

.postContainer .content {
    width: 100%;
    min-height: 200px;
    font-size: 1.4rem;
    align-self: start;

    word-wrap: break-word;
}

.commentsContainer {
    max-width: 300px;
    min-width: 200px;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentForm {
    padding: 5px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
}

.commentForm textarea {
    border: none;
    resize: none;
}

.commentForm textarea:focus {
    outline: none;
}

.hl {
    width: 100%;
    height: 1px;
    background-color: rgb(235, 235, 235);
}
