.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContainer {
    max-width: 1000px;
    width: 100%;

    flex: 1;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "sidebar"
        "main";
}

.profileMain {
    grid-area: main;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileHeader {
    display: none;
    font-size: 3rem;
}

.postDisplayBtns {
    display: flex;
    gap: 30px;
}

.postDisplayBtn {
    padding: 2px 6px;
    font-size: 1rem;

    border: none;
    background-color: white;

    cursor: pointer;
}

.postDisplayBtn.selected {
    border-bottom: 2px solid black;
}

.hl {
    height: 1px;
    background-color: rgb(235, 235, 235);
}

.vl {
    background-color: rgb(235, 235, 235);
    width: 1px;
    grid-area: vl;
}

@media (min-width: 600px) {
    .postDisplayBtn {
        font-size: 1.2rem;
    }
}

@media (min-width: 800px) {
    .profileContainer {
        grid-template-columns: 2fr 1px 1.1fr;
        grid-template-rows: none;
        grid-template-areas: "main vl sidebar";
    }

    .profileHeader {
        display: block;
    }
}

/* Styling for Posts Containers */
.postCardOuterContainer {
    display: flex;
    flex-direction: column;
}

/* Styling for edit profile modal */

.editProfileModal {
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    z-index: 10;

    pointer-events: none;
}

.editProfileModal.display {
    opacity: 1;
    pointer-events: all;
}

.profileModalContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profileModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileModalHeader p {
    font-size: 2rem;
}

.closeModalBtn {
    font-size: 1.8rem;
    background-color: white;
    border: none;
    cursor: pointer;

    align-self: end;
}

/* Styling for delete post modal */
.deleteProfileModal {
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    z-index: 10;

    pointer-events: none;
}

.deleteProfileModal.display {
    opacity: 1;
    pointer-events: all;
}

.profileModalContent p {
    text-align: center;
    font-size: 1.2rem;
}

.deleteProfileConfirm {
    font-size: 1rem;
    padding: 7px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.deleteProfileConfirm:hover {
    scale: 1.05;
}
