.shaking {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
