.footer {
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    max-width: 1000px;

    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1.3fr;
    grid-template-rows: 2fr 1fr;
}

.footerLeftCol {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span2Row {
    grid-row: 1 / span 2;
}

.footerRightCol {
    font-size: 0.9em;
    display: flex;
    gap: 10px;
}

.footerRightCol div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerRightCol div a {
    text-decoration: none;
    color: white;
}

.acknowledgements {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

@media (min-width: 600px) {
    .footer {
        padding: 30px;
    }

    .footerContainer {
        gap: 30px;
    }

    .footerLeftCol {
        font-size: 1.1rem;
    }

    .footerRightCol {
        font-size: 1.1em;
        gap: 30px;
    }

    .acknowledgements {
        font-size: 1.1rem;
    }
}
