.footer {
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer {
    max-width: 1200px;

    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.footerLeftCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span2Row {
    grid-row: 1 / span 2;
}

.footerRightCol {
    display: flex;
    gap: 30px;
}

.footerRightCol div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerRightCol div a {
    text-decoration: none;
    color: white;
}

.acknowledgements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
