.header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 3px 1px rgb(163, 163, 163);
    z-index: 2;

    pointer-events: all;
}

.headerInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1000px;
    width: 100%;

    position: relative;
}

.headerMain {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerIcon {
    width: 50px;
}

.headerTitle {
    display: none;
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 15px;
}

.navLink {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 15px;
}

.nav .signin {
    color: black;
}

.nav .signup {
    color: white;
    background-color: rgb(32, 32, 32);
}

.nav .write {
    border: none;
    color: rgb(66, 66, 66);

    display: flex;
    gap: 5px;
    align-items: center;
}

.writeIcon {
    height: 25px;
}

.navLink:hover,
.menuBtn:hover {
    scale: 1.05;
}

.menuBtn {
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media (min-width: 680px) {
    .header {
        padding: 30px 40px;
    }

    .headerTitle {
        display: block;
    }

    .nav {
        gap: 30px;
    }
}

/* Styling for menu Tab */
.menuTab {
    background-color: white;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 2px 2px 2px grey;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    right: -5px;
    top: 60px;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    z-index: 10;

    pointer-events: none;
}

.menuTab.display {
    opacity: 100;
    pointer-events: all;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* Styling for Overlay*/

.overlay {
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 5;

    pointer-events: none;
}

.overlay.display {
    opacity: 0.2;
    pointer-events: all;
}
