.postsLoading {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 40px;

    position: absolute;
    max-width: 800px;
    width: 100%;
    height: 100%;
    background-color: white;

    pointer-events: none;
}

.postCardLoader {
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postCardLoaderContent {
    display: flex;
    gap: 20px;
}

.postCardLoaderText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.postCardLoaderHeader,
.postCardLoaderTitle {
    height: 25px;
    width: 70%;
    border-radius: 5px;
    background-color: hsl(200, 20%, 80%);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.postCardLoaderPara {
    height: 60px;
    width: 90%;
    border-radius: 10px;
    background-color: hsl(200, 20%, 80%);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.postCardLoaderImage {
    flex-shrink: 0;
    height: 40px;
    width: 80px;
    border-radius: 3px;
    background-color: hsl(200, 20%, 80%);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.5;
    }
}

@media (min-height: 600px) {
    .postCardLoaderImage {
        height: 90px;
        width: 120px;
    }
}
