.postCard {
    padding: 15px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postCardHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

.postCardHeader .circularImage {
    display: none;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.avatar {
    width: 100%;
}

.postCardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.postCardLink {
    text-decoration: none;
    color: black;
}

.postCardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postCardTitle {
    font-size: 1.1rem;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    word-wrap: break-word;
}

.postCardContent p {
    font-size: 0.9rem;
    display: none;

    overflow: hidden;
    word-wrap: break-word;
}

.postCardImageContainer {
    height: 50px;
    width: 80px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.postCardImage {
    width: 100%;
}

.userLink {
    text-decoration: none;
    color: black;
}

.deletePostBtn {
    padding: 2px 4px;
    align-self: end;
}

@media (min-width: 300px) {
    .postCardHeader .circularImage {
        display: block;
    }
}

@media (min-width: 360px) {
    .postCardContent p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (min-width: 600px) {
    .postCardMain {
        gap: 40px;
    }

    .postCardTitle {
        font-size: 1.4rem;
    }

    .postCardContent p {
        font-size: 1.1rem;
        -webkit-line-clamp: 3;
    }

    .postCardImageContainer {
        height: 90px;
        width: 120px;
    }
}

/* Styling for Post Buttons */

.postBtns {
    align-self: flex-end;

    display: flex;
    gap: 10px;
}

.postBtn {
    padding: 2px 4px;
}

.postDeleteConfirm,
.postDeleteBtn {
    display: none;
}

.postDeleteBtn.display {
    display: block;
    cursor: pointer;
}

.postEditBtn {
    cursor: pointer;
}

.postDeleteConfirm.display {
    display: flex;
    gap: 10px;
}

.postDeleteConfirmBtn {
    color: red;
}

/* PostCard Error */

.postCardError {
    color: red;
    font-size: 0.9rem;
}
