.profileSidebar {
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.circularImage {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.avatar {
    width: 100%;
}

.profileSidebar .name {
    font-size: 1.6rem;
}

.editProfileBtn {
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
}

.deleteProfileBtn {
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
}

.editProfileBtn:hover,
.deleteProfileBtn:hover {
    scale: 1.05;
}
