.profileSidebar {
    grid-area: sidebar;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.circularImage {
    flex-shrink: 0;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.avatar {
    width: 100%;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileSidebar .name {
    font-size: 1.6rem;
}

.updateProfileBtns {
    display: flex;
    gap: 10px;
}

.editProfileBtn {
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
}

.deleteProfileBtn {
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
}

.editProfileBtn:hover,
.deleteProfileBtn:hover {
    scale: 1.05;
}

@media (min-width: 500px) {
    .circularImage {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 800px) {
    .profileSidebar {
        padding: 40px;
        flex-direction: column;
    }
    .circularImage {
        align-self: flex-start;
    }
}
