.topPostsContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.topPostCard {
    padding: 15px;
    min-height: 200px;
    max-width: 425px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topPostCardHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topPostCardHeader .circularImage {
    display: none;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.topPostCardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.topPostCardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topPostCardTitle {
    font-size: 1.1rem;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    word-wrap: break-word;
}

.topPostCardContent p {
    font-size: 0.9rem;
    display: none;

    overflow: hidden;
    word-wrap: break-word;
}

.topPostCardImageContainer {
    height: 50px;
    width: 80px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
}

.topPostCardImage {
    width: 100%;
}

@media (min-width: 300px) {
    .topPostCardHeader .circularImage {
        display: block;
    }
}

@media (min-width: 360px) {
    .topPostCardContent p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (min-width: 520px) {
    .topPostsContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 700px) {
    .topPostCardMain {
        gap: 40px;
    }

    .topPostCardTitle {
        font-size: 1.4rem;
    }

    .topPostCardContent p {
        font-size: 1.1rem;
        -webkit-line-clamp: 3;
    }

    .topPostCardImageContainer {
        height: 110px;
        width: 140px;
    }
}
